<div class="container">
  <h1 class="page-title">Chatbot Messages</h1>

  <div class="content">
    <div class="square-container">
      <% @messages.each do |message| %>
        <div class="square">
          <%= link_to edit_message_path(message) do %>
            <div class="content">
              <h3 class="title"><%= message.title %></h3>
              <p2 class="send-date">
                <%= message.scheduled_date ? "Send: " + message.scheduled_date : nil %>
              </p2>
            </div>
          <% end %>
        </div>
      <% end %>

      <div class="square new-message">
        <div class="content" id="new-message">
          <h3>+ New Message</h3>
        </div>
      </div>
    </div>
  </div>
  <%= render "layouts/new_message_modal" %>
</div>
