<div class="welcome">
  <h1 class="subtitle">
    The chatbot <br>
    your wedding <br>
    has been waiting for <br>
  </h1>
  <div class="button-container">
    <a href="/messages">
      <div class="button primary">
        <h3 class="white">Make a Bot</h3>
      </div>
    </a>
  </div>
</div>
