@import "global";

.header {
  height: 80px;
  background-color: #ffffff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.12);
  margin: -8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  float: left;
  margin-left: 36px;
}

.header-links {
  float: right;
  padding-right: 36px;
}

/* Dropdown Button */
.dropbtn {
  border: none;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  display: inline-block;
  padding-right: 36px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  z-index: 1;
  border: 1.5px solid;
  border-color: $gray20;
  right: 36px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: $sky;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
